header.header
    .container-fluid 
        .row.align-item-center 
            .col-3  
                .inner-logo 
                    a(
                        href="/admin/dashboard"
                        class="text-white"
                    ) ADMIN
            
            .col-9